    @font-face {
        font-family: 'Netflix Sans';
        font-weight: 300;
        font-display: optional;
        src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
    }
    
     :root {
        --vermelha: #e50914;
        --preta: #141414;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        color: white;
        background: var(--preta);
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        ;
    }
    
    header {
        position: fixed;
        width: 100%;
        z-index: 10000;
        font-size: 14px;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.04));
    }
    
    header.sticky {
        height: 60px;
        background: var(--preta);
        align-items: center;
        transition: .3s ease all;
    }
    
    header .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    header .container .icon {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }
    
    header .container img {
        height: 40px;
        margin-top: 10px;
    }
    
    header nav a {
        text-decoration: none;
        color: #fff;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    header nav a:hover {
        color: #AAA;
    }
    /**Filme principal*/
    
    .filme-principal {
        font-size: 16px;
        background: linear-gradient(rgba(0, 0, 0, .40), rgba(0, 0, 0, .40)100%), url('/images/capa.jpg');
        height: 80vh;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .title {
        height: 200px;
        width: 500px;
        background-image: url(/images/title-logo.jpg);
    }
    
    .filme-principal .title img {
        width: 100%;
    }
    
    .filme-principal .descricao {
        margin-bottom: 40px;
        width: 60%;
    }
    /*.filme-principal .titulo {
    margin-top: 5%;
    font-size: 40px;
    font-family: 'GFS Didot';
}
*/
    
    .filme-principal .botao1 {
        background-color: #ffffff;
        border: none;
        color: black;
        padding: 10px 20px;
        margin-right: 15px;
        border-radius: 5%;
        cursor: pointer;
    }
    
    .filme-principal .botao2 {
        background-color: #6D6D6eb3;
        border: none;
        color: white;
        padding: 10px 20px;
        margin-right: 15px;
        border-radius: 5%;
        cursor: pointer;
    }
    
    .filme-principal .botao1:hover,
    .botao2:hover {
        background-color: #AAA;
        color: black;
        transition: .3s ease all;
    }
    
    .filme-principal .botao i {
        margin-right: 8px;
    }
    
    .container {
        margin-left: 20px;
    }
    
    .filme-principal .container {
        width: 70%;
    }
    
    .item {
        height: 350px;
        width: 100%;
    }
    
    .carrossel-filmes {
        margin: 10px;
    }
    
    .box-filme {
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 3%;
    }