                    @font-face {
                        font-family: 'Netflix Sans';
                        font-weight: 300;
                        font-display: optional;
                        src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
                    }
                    
                     :root {
                        --vermelha: #e50914;
                        --preta: #141414;
                    }
                    
                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    body {
                        color: white;
                        background: var(--preta);
                        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    }
                    
                    header {
                        position: fixed;
                        width: 100%;
                        z-index: 10000;
                        font-size: 16px;
                        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.08));
                        height: 60px;
                    }
                    
                    header.sticky {
                        height: 60px;
                        background: var(--preta);
                        align-items: center;
                        transition: .3s ease all;
                    }
                    
                    header .container {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    
                    header .container .icon {
                        color: #fff;
                        font-size: 20px;
                        cursor: pointer;
                        display: none;
                    }
                    
                    header .container img {
                        height: 50px;
                        margin-top: 10px;
                    }
                    
                    header nav a {
                        text-decoration: none;
                        color: #fff;
                        margin-right: 10px;
                        margin-left: 20px;
                    }
                    
                    header nav a:hover {
                        color: #AAA;
                    }
                    
                    .nav-inf {
                        background-color: red;
                        height: 60px;
                    }
                    
                    .nav-inf nav a {
                        color: #ffffff;
                        font-weight: 500;
                    }
                    
                    .nav-inf nav a:hover {
                        color: #141414;
                        font-weight: 700;
                    }
                    /**Filme principal*/
                    
                    .filme-principal {
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        height: 80vh;
                        background-size: cover;
                        background-position: center;
                    }
                    
                    #videoBG {
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: auto;
                        border: solid 1px rgba(0, 0, 0, 1);
                        box-shadow: 0 0 0 1px var(--preta);
                    }
                    
                    .title {
                        background-image: url("/images/title-logo.jpg");
                        height: 190px;
                        width: 600px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-bottom: 20px;
                    }
                    
                    .filme-principal .descricao {
                        margin-bottom: 40px;
                        width: 60%;
                    }
                    
                    .filme-principal .botao1 {
                        background-color: #ffffff;
                        border: none;
                        color: black;
                        padding: 13px 23px;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                    
                    .filme-principal .botao2 {
                        background-color: var(--vermelha);
                        border: none;
                        color: white;
                        padding: 13px 23px;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                    
                    .filme-principal .botao1:hover {
                        background-color: #6D6D6eb3;
                        color: white;
                        transition: .3s ease all;
                    }
                    
                    .filme-principal .botao2:hover {
                        background-color: #6D6D6eb3;
                        transition: .3s ease all;
                    }
                    
                    .filme-principal .botao i {
                        margin-right: 8px;
                    }
                    
                    .filme-principal .botao2 a {
                        text-decoration: none;
                        color: #ffffff;
                    }
                    
                    .filme-principal .botao2 a:hover {
                        color: #ffffff;
                    }
                    
                    .container {
                        margin-left: 20px;
                    }
                    
                    .filme-principal .container {
                        width: 70%;
                    }
                    
                    .filme-principal .title {
                        margin-top: 40px;
                    }
                    
                    .hidden-title {
                        display: none;
                    }
                    
                    .item {
                        height: 350px;
                        width: 100%;
                    }
                    
                    .carrossel-filmes {
                        margin: 0 13px;
                        margin-top: 8%;
                    }
                    
                    .carrossel-filmes h4 {
                        margin: 10px 5px;
                    }
                    
                    .box-filme {
                        height: 100%;
                        width: 100%;
                        display: block;
                        border-radius: 3%;
                    }
                    /* FOOTER */
                    
                    footer {
                        color: #fff;
                        height: 15vh;
                        width: 100%;
                        text-align: center;
                        align-items: center;
                        background-color: var(preta);
                        margin: 0;
                    }
                    
                    .social-icons ul {
                        margin: 10px;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        padding-top: 50px;
                    }
                    
                    .social-icons ul h3 {
                        margin: 10px;
                    }
                    
                    .social-icons li {
                        list-style: none;
                    }
                    
                    .social-icons .fa {
                        margin-right: 5px;
                        display: flex;
                        border: 1px solid #ffffff;
                        border-radius: 20%;
                        padding: 5px;
                        cursor: pointer;
                        padding: 8px;
                        color: #fff;
                        font-size: 25px;
                    }
                    
                    .social-icons .fa:hover {
                        cursor: pointer;
                        background-color: #6D6D6eb3;
                    }
                    
                    .social-icons footer {
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }
                    /*MORE INFORMATIONS PAGE*/
                    
                    .card {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        color: #ffffff;
                        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        box-sizing: border-box;
                        transition: .3s;
                    }
                    
                    .imgbox {
                        max-width: 350px;
                        margin-top: 8%;
                        border: 1px solid #333;
                        border-right: 0;
                    }
                    
                    .imgbox img {
                        width: 100%;
                        height: 100%;
                    }
                    
                    .descr {
                        max-width: 350px;
                        background: var(--preta);
                        padding: 20px;
                        border: 1px solid #333;
                        border-left: 0;
                        margin-top: 8%;
                    }
                    
                    .descr h2 {
                        font-size: 2.0em;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    
                    .descr h3 {
                        font-size: 1.2em;
                        text-align: left;
                    }
                    
                    .descr ul {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        list-style: none;
                        margin: 10px 0;
                        font-size: 13px;
                        line-height: 13px;
                    }
                    
                    .rating li {
                        font-size: 22px;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }
                    
                    .rating li:hover {
                        color: var(--vermelha);
                    }
                    
                    .textContent p {
                        font-size: 0.9em;
                        margin-top: 10px;
                    }
                    
                    .textContent p i {
                        font-size: 1.2em;
                        text-align: center;
                        margin-top: 15px;
                        color: var(--vermelha);
                    }
                    
                    .textContent a {
                        display: inline-block;
                        margin-top: 10px;
                        font-size: 1.2em;
                        text-decoration: none;
                        color: var(--vermelha);
                    }
                    
                    .textContent a:hover {
                        color: white;
                    }
                    
                    .btn3 {
                        margin: 10px 0;
                        width: 100%;
                        padding: 10px;
                        background: #fff;
                        color: var(--preta);
                        font-size: 1em;
                        border-radius: 5px;
                        cursor: pointer;
                        border: none;
                    }
                    
                    .btn3:hover {
                        color: #000;
                        background: var(--vermelha);
                    }
                    
                    .trailer {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, .9);
                        z-index: 10;
                        visibility: hidden;
                        opacity: 0;
                    }
                    
                    .trailer video {
                        max-width: 900px;
                        outline: none;
                        position: relative;
                    }
                    
                    .close {
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        color: #fff;
                        font-size: 42px;
                        cursor: pointer;
                    }